name: Wails build

on:
  push:
    tags:
      # Match any new tag
      - '*'

env:
  # Necessary for most environments as build failure can occur due to OOM issues
  NODE_OPTIONS: "--max-old-space-size=4096"

jobs:
  build:
    strategy:
      # Failure in one platform build won't impact the others
      fail-fast: false
      matrix:
        build:
          - name: 'dev-tools-linux-amd64'
            platform:  'linux/amd64'
            os: 'ubuntu-latest'
          - name: 'dev-tools-windows-amd64'
            platform:  'windows/amd64'
            os: 'windows-latest'
          - name: 'dev-tools'
            platform:  'darwin/universal'
            os: 'macos-latest'

    runs-on: ${{ matrix.build.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build wails
#        uses: dAppServer/wails-build-action@v2.2
        uses: conkayyan/wails-build-action@dev
        id: build
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          package: true
          go-version: '1.21.2'
          wails-version: 'v2.7.1'
          node-version: '16.14.2'
          deb-app: dev-tools
          deb-app-name: "Dev Tools"
